
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Gabarito:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.letra1{
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.letra2{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Cinzel Decorative', cursive;
}
body::-webkit-scrollbar {
    display: none;
  }
.cuerpo{
    width: 1920px;
}
.principal{
    width: 1920px;
    height: 955px;
    background-image: url(img/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.principal::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
.logo{
    background-color: aquamarine;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 60px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.conte1{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
}
.conte1 h1{
    font-weight: bold;
}
.botonprincipal{
    background-image: url(img/instagram.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 58px 58px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 2;
    transform: translate(0, 250px);
    border: none;
    transition: transform 0.3s ease;
}

.botonprincipal:hover {
    cursor: pointer;
    transform: translate(0, 250px) scale(1.1);
}
.espacio{
    height: 50px;
    width: 100%;
}
.contenido{
    width: 1920px;
    height: 955px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.producto{
    display: flex;

}
.producto img{
    width: 400px;
    height: 450px;
    object-fit: cover;
    object-position: center;
}
.texto{
    width: 400px;
    height: 450px;
    text-align: center;
    margin: 0;
    transform: translateY(50px);
}
.tex2{
    font-size: 24px;

}
.tex1{
    font-size: 32px;
    font-weight: bold;

}
.producto img{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.ver{
    width: 200px;
    height: 50px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 100px;
    border: solid 1px black;
    z-index: 2;
}
.textboton{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    height: 450px;
    width: 400px;
}
